{% extends parent_template|default:"portfolio/base.html" %}

{% block title %}
  {{ portfolio.name|title }}
{% endblock %}

{% block content %}

  <div class="row d-flex justify-content-center">
    <h2> {{ portfolio.name|title }}</h2>
    <p> {{ portfolio.description|linebreaks }}</p>
    <!-- <img src="{{ portfolio.get_thubnail_image.image_file.url }}" alt="Card image"> -->
    <div class="gallery">
    {% for image in portfolio.images.all %}
      <a href="{{ image.image_file.url }}">
        <img src="{{ image.image_file.url }}">
      </a>
    {% endfor %}
    </div>

  </div>

  <script>
    baguetteBox.run('.gallery');
  </script>>

{% endblock %}