{% extends parent_template|default:"portfolio/base.html" %}

{% block cdnChoice %}
   {{ portfolio.template.cdn_url_path }}
{% endblock %}

{% block title %}
  {{ block.super }} - Portfolio 
{% endblock %}

{% block content %}
  <div class="row row-cols-3">
  {% for portfolio in portfolio_list %}
  <!-- <div class="ml-2 mt-1"> -->
  <div class="col">
    <div class="card mb-1">
      <a href="{{ portfolio.get_absolute_url }}"> 
      <img class="card-img-top" src="{{ portfolio.get_thubnail_image.slug }}" alt="Card image cap">
      <div class="card-body">
          <h2>
            <a href="{{ portfolio.get_absolute_url }}">
              {{ portfolio.name|title }}</a>
          </h2>
        </header>
        <p>{{ portfolio.description|truncatewords:20 }}</p>
        <p>
          <a href="{{ portfolio.get_absolute_url }}" class="btn btn-primary"> Read more…</a> 
        </p>
      </div>
    </div>
  </div>
<!-- </div> -->
  {% empty %}
    <p><em>No Portfolios Available</em></p>
  {% endfor %}
  </div>
{% endblock %} 