{% extends parent_template|default:"portfolio/base.html" %}

{% block title %}
  {{ block.super }}  Portfolio 
{% endblock %}

{% block content %}
  <div class="row row-cols-3">
  {% for portfolio in portfolio_list %}
  <!-- <div class="ml-2 mt-1"> -->
  <div class="col">
    <div class="card mb-1">
      <a href="{{ portfolio.get_absolute_url }}"> 
      {% load thumbnail %}
      <!-- <a href="{{ portfolio.get_thubnail_image.image_file.url }}"> -->
        {% thumbnail portfolio.get_thubnail_image.image_file 300x0 as thumb %}
      <img class="card-img-top" style="height: 255px; width: 100%; display: block;" src="{{ thumb.url }}" width="{{thumb.width}}" height="{{thumb.height}}" alt="Card image cap">
      <!-- <img class="card-img-top" style="height: 200px; width: 100%;" src="{% thumbnail portfolio.get_thubnail_image.image_file 300x300 upscale %}" alt="Card image cap"> -->
      <div class="card-body">
          <h2>
            <a href="{{ portfolio.get_absolute_url }}">
              {{ portfolio.name|title }}</a>
          </h2>
        </header>
        <p>{{ portfolio.description|truncatewords:20 }}</p>
        <p>
          <a href="{{ portfolio.get_absolute_url }}" class="btn btn-primary"> Read more…</a> 
        </p>
      </div>
    </div>
  </div>
<!-- </div> -->
  {% empty %}
    <p><em>No Portfolios Available</em></p>
  {% endfor %}
  </div>

  <script>
    $(document).ready(function() {
        // executes when HTML-Document is loaded and DOM is ready
    console.log("document is ready");
        
    
        $( ".card" ).hover(
        function() {
        $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
        }, function() {
        $(this).removeClass('shadow-lg');
        }
    );
        
    // document ready  
    });
  </script>
{% endblock %} 