{% load nav_heading %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href={% url "home" %}>Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          {% for heading, heading_url in heading_list %}
          <li class="nav-item">
            <a class="nav-link" href= {% url heading_url %}>{{ heading.title }}</a>
          </li>
          {% endfor %}
        </ul>
    </div>
</nav>


