{% load nav_heading %}
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"
        href = "{% get_theme %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cerulean/bootstrap.min.css"> -->
        <link rel="stylesheet" href="{% static 'baguetteBox.min.css' %}">
        <script src="{% static 'baguetteBox.min.js' %}" async></script>
        <!-- <script src=https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css"> -->
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body>
        {% get_headings_inclusion_tags %}
        <div class="container">
            <!-- <div class="row h-100 justify-content-center align-items-center"> -->
            {% block content %} {% endblock %}
            <!-- </div> -->
        </div>
    </body>
</html>