<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"
        {# href = {% block cdnChoice %} {% endblock %} #}
        href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cerulean/bootstrap.min.css">
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body>
        {% block navHeadings %} {% endblock %}   
        <h1>Welcome</h1>
        <button class="btn btn-primary" type="button" name="button">Primary</button>
        <button class="btn btn-secondary" type="button" name="button">Secondary</button>
        {% block content %} {% endblock %}
    </body>
</html>