{% load nav_heading %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"
        href = "{% get_theme %}"> 
        <!-- href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cerulean/bootstrap.min.css"> -->
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body>
        {% get_headings_inclusion_tags %}
        <div class="container mt-3">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>