{% extends parent_template|default:"about/base.html" %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <h2> {{ name }}</h2>
    </div>

    <div class="row d-flex justify-content-center">
    <h2> About </h2>
    <p> {{ description|linebreaks }}</p>
    </div>

    {% if social_icons %}
    <div class="row justify-content-start">
        {% for account in social_icons.all %}
        <div class="col">
            <a href="{{ account.account_url }}"><i class="{{ account.social_icon }} fa-3x"></i></a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}



