{% extends parent_template|default:"base.html" %}

{% block title %}
{% endblock %}


{% block content %}
    <h1> Contact</h1>
    <!-- <h2>{{ name }}</h2> -->
    <div class="contact_information">
        {% if phone_number %}
        <h2>Direct Contact Information</h2>
        <p> Contact Number: {{ phone_number }} </p>
    </div>
    {% endif %}
    {% if opening_hours %}
    <div class="trading_hours">
        <h2> Trading Hours </h2>
        {% for hour in opening_hours.all %}
            {{ hour.get_weekday_display }}
            {{ hour.from_hour }} - {{ hour.to_hour }}
        {% endfor %}
    </div>
    {% endif %}
    {% if lat and lng %}
    <div class="location_inforation">
        <!-- display map here  -->
    </div>
    {% endif %}
    {% if social_accounts %}
    <h2>Social Accounts</h2>
    <div class=social_accounts>
        {% for account in social_accounts.all %}
        <a href="{{ account.account_url }}"><i class="{{ account.social_icon }} fa-5x"></i></a>
        {% endfor %}
    </div>
    {% endif %}    

{% endblock %}